<a href="https://wa.me/5511971457988?text=Olá,%20como%20posso%20te%20ajudar?" target="_blank">
<img src="/assets/whats.svg" width="100%" class="whats" alt="(11) 9 7145-7988">
</a>
<div class="phone" id="telefone">(11) 97145-7988</div>
<img src="/assets/email.svg" id="email" width="100%" class="email">
<div class="txtEmail" id="TxtEmail">greco-fernando@hotmail.com</div>
<button type="button" class="btn" (click)="copyTextFromElement('telefone')">Copiar</button>
<button type="button" class="btn email" (click)="copyTextFromElement('TxtEmail')">Copiar</button>