<br><br><br>
<section class="flex">
  <div>
    <p><a routerLink="ibovespa">Desenhos em SVG's

      <img src="/assets/img/mareaWhite.svg" alt="Marea 2.0 Turbo" width="100%" height="100%">
    </a></p>
  </div>
  <div>
    <p>
      <a href="https://fernandogreco.github.io/SinglePageAngular2/" target="_blank">Layout Notícias
        <img src="/assets/img/layoutNoticia.jpg" width="100%" height="100%"></a>
    </p>
  </div>
<div>
  <p><a routerLink="layout2">Layout Pesca
    <img src="/assets/img/layoutPesca.jpg" width="100%" height="100%">  
  </a></p>
</div>
<div>
  <p>Legenda</p>
</div>
<div>
  <p>Legenda</p>
</div>
<div>
  <p>Legenda</p>
</div>
<div>
  <p>Legenda</p>
</div>
<div>
  <p>Gráficos</p>
</div>
</section>





<router-outlet></router-outlet>
