<div class="efeitoFundo"> <canvas class="fundoEfect" #myCanvas width="1000" height="600"></canvas> </div>

    <div class="container">
    <div class="row">
           <div class="col-2">
        <img src="./assets/img/perfil.jpg" class="fotoPerfil" width="100%">
      <p class="nome">  Fernando Greco</p>
      </div>
      <div class="col-10">
      <p class="txtDescricao"> Desenvolvedor Front End em <a href="https://mtsolucoes.com.br/" target="_blank">
         MT Soluções</a> desde março 2021. Agência especialista em E-commerce, onde tenho a oportunidade de desenvolver projetos nas plataformas; JET, Nuvem Shop, Loja Integrada, Tray...  Anteriomente trabalhei no <a href="https://jornalfolhaoeste.com.br/" target="_blank">Jornal Folha Oeste</a>, para o site do Jornal utilizei PHP no Back-End com Mysql. Nos projetos pessoais (que estão no github) como este portfolio, tenho utilizado Angular.</p>           
        
    <div class="iconeSobre">
        <h3>Sobre</h3>
<svg data-toggle="modal" data-target="#sobre" xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/>    Sobre<path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z" fill="black"/></svg>
    



</div>
    </div></div>

    <div class="row">

      <div class="col-6 col-md-3 text-center">
               <p>Cursos</p>
               <button type="button" class="btn" data-toggle="modal" data-target="#cursos">
        <img src="https://img.icons8.com/material/124/000000/school.png" width="100%" class="icone"></button>
      </div>



<!-- Modal -->
<div class="modal fade" id="sobre" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sobre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body descr">
        Design Gráfico de 2009 a 2019; 7 anos atrás comecei estudar programação; desde então desenvolvi alguns sistemas como free lance, fiz o site do jornal que eu trabalhava www.jornalfolhaoeste.com.br, a cada necessidade eu aprendia uma ferramenta nova, e nisso passei pelo CSS, JavaScript, Mysql e PHP. Faculdade de Sistemas de Informação; de 2014 à 2017;  
        Participo de grupos em redes sociais para trocar conhecimento e estar "antenado". </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fexar</button>
        
      </div>
    </div>
  </div>
</div>

        
<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sobre" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sobre">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



      <!-- Modal -->
<div class="modal fade" id="cursos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cursos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <b>Ensino Superior</b><br>
        <hr>        
        Formação: Bacharelado em Sistemas de Informação [FMU] 2014 / 2017.
        <hr> 
        
        <b>Udemy</b><hr>
        
        * Desenvolvimento Android Studio Intermediário<br>
        
        * Desenvolvimento WEB FullStack (PHP, Mysql e JavaScript)
        
        <hr>
        <b>Fundação Bradesco</b><br>
        <hr>
        * PVG (Produção Visual Gráfica) / Arte Finalista<br>
        
        * Photoshop, Illustrator, In Design, Adobe Animate<br>
        
        * Fundamentos de Governança de TI 2016<br>
        
        * Lógica de Programação – (37 horas) - 2015 <br>
        
        * Gestão Estratégica de TI – ITIL - 2016 <br>
        
        * Contabilidade Empresarial - (27 horas) - 2014 <br>
        
        * Análise de Balanços - (30 horas) - 2014 <br>
                
        Linguagens: C, PHP, CSS (Layout Responsivo, GridSystem, FlexBox, Framework: Bootstrap), Mysql, JavaScript (Angular 2 +), Java (básico: Android Studio, NetBeans).  
        
        <hr>
        <b>Inglês Intermediário</b><br>
        <hr>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

      <div class="col-6 col-md-3 text-center">
    <p>Currículo</p>
    <button type="button" class="btn" data-toggle="modal" data-target="#curriculo">
  <img src="https://img.icons8.com/material/124/000000/submit-resume.png" width="100%" class="icone">
</button>      
      </div>


         <!-- Modal -->
<div class="modal fade" id="curriculo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Currículo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b>Fernando Greco</b>
<hr>
Brasileiro, solteiro, 31 anos<br> Rua José Antonio Augusto, 8A Pestana – Osasco – SP <br>Telefone: (11) 3695-1078 - Cel.: 97145-7988 - E-mail: greco-fernando@hotmail.com
<br><hr>
<b>OBJETIVO</b><hr><br>
Desenvolvimento Web - FullStack [Júnior]
<br><br><hr>
<b>FORMAÇÃO</b>
<br><hr>
<b>Graduação em Sistemas de Informação<br></b>

Instituição: FMU (Faculdades Metropolitanas Unidas).
<br>
Início: 01/02/2014 | Término: 20/12/2017.
<hr>
<br>

<br><hr>
<b>Detalhes Alguns Projetos</b><br>

http://jornalfolhaoeste.com.br/<br>

Detalhes: Sem framework; CSS, PHP e Mysql. Usuário inclui, exclui matéria, cria edição (cria pasta e salva imagens da edição), faz busca por título. <br>

http://sticcor.com.br/<br>

Detalhes: Sem framework, CSS, PHP e Mysql. Usuário inclui, exclui notícia.<br>
<hr>
<b>Idiomas:</b> Inglês Intermediário<hr>

<b>EXPERIÊNCIA PROFISSIONAL</b>
<hr><br>
* 2009 - 2019<br>

Cargo: Diagramador.<br>

<b>Atividade desempenhada:</b> Design Gráfico e Desenvolvimento Web<br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

      </div>
    </div>
  </div>
</div>



      <div class="col-6 col-md-3 text-center">
        <p>Videos</p>
        <button type="button" class="btn" data-toggle="modal" data-target="#videos">
        <img src="https://img.icons8.com/material/124/000000/youtube.png" width="100%" class="icone"></button>
      </div>


      <!-- Modal -->
<div class="modal fade" id="videos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vídeos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Transforma arquivo SGV feito no Illustrator em responsivo.
https://fernandogreco.github.io/LinhaSvgResponsiva/
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/X6tSLSnotao" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/pTqBa5a6Mu8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="100%"  src="https://www.youtube.com/embed/a6rPU3VvUqU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
    </div>
  </div>
</div>



      <div class="col-6 col-md-3 text-center">
        <p>Histórico</p>
        <button type="button" class="btn" data-toggle="modal" data-target="#historico">
        <img src="https://img.icons8.com/material/124/000000/test-passed.png" width="100%" class="icone">
      </button>
      </div>

      <!-- Modal -->
<div class="modal fade" id="historico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Histórico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="./assets/img/historico.jpg" width="100%"><hr><h2>Enade 2017</h2><hr>
        <img src="./assets/img/NotaEnade.jpg" width="100%"><br>
       <img src="./assets/img/MediaEnade.jpg" width="100%">
         <hr><h2>Quizz JavaScript</h2><hr>
        <img src="./assets/img/quizzJs.jpg" width="100%"><br>       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


    </div>
</div>