@corTxt : 	orange;

p,h3{
	padding: 10px;
	margin: 0px;
}

.txt{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 15px;
}

div.item1{
	margin: 0;
	padding: 0;
}

p{
	background-color: #F5F5F5;
}
h3,h2{
	background-color:#F0F8FF;
}

h2{
	padding: 10px;
	margin: 0;
}

.fundoBranco{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 1600px;
    z-index: -1;
}

#btn-menu{
	display: none;
}

.menu{
	font-size: 21px;

}

.menu li{
    color:#248842;
	text-decoration:none;
	padding: 15px;
	display: block;
	border-right: 1px solid #efefef;
	background-color:#A9E2F3;
}
header{
	//background-color: #4169E1;
	background-color:#A9E2F3;
}

header label{
	color:black;
	font-size: 35px;
	display: block;
	padding: 5px 10px;
	width: 20px;
	border-right: 1px solid black;
	display: none;
}


.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	transition: all .5s;
}

.menu ul ul{
    position: absolute;
	visibility: hidden;
 display: block 
}

.menu ul ul li{
	border-bottom: solid 1px white;
}

.menu ul li:hover ul{
	visibility: visible;
}

.menu li {
	color: black;
	text-decoration:none;
	padding: 10px;
	display: block;
	border-right: 0.5px solid  whitesmoke;
	z-index: 2;
	height: 50px;
}

.menu li:nth-child(8) {
	border-right: 1px solid #A9E2F3;
  }

  .btn.btn-outline-secondary{
	  background-color: whitesmoke;
  }
.row{
	z-index: 1;
}

.menu li:hover{
    background-color: #4169E1;
    color: #E0FFFF; 
}

.col-md-4{
	z-index: -10;
  }
	  
.dir{
		float: left;
		margin-left:20px;
		margin-right: 20px;
		margin-bottom: 20px;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
		width: 100px;
	  		   }

		  
		   .item1 { 
			grid-area: destaque;
					}
		   .item2 { grid-area: main;
			 }
		   .item3 { grid-area: right;
			 }
		   .item4 { grid-area: footer; }

		   .item5 { grid-area: texto; }
		   
	
		   .grid-container {
			 display: grid;
			 grid-template-areas:			   
			   'destaque destaque destaque main right'
			   'destaque destaque destaque footer texto';
			 grid-gap: 20px;
			// background-color: #2196F3;
			 padding: 0 3px 0 3px;
			 height: 650px;
		   }

		   
		   .grid-container > div {
			 //background-color: rgba(255, 255, 255, 0.8);
			 text-align: justify;
		   }

		   .load{
			   position: absolute;
			   height: 300px!important;
		   }

		   
@media(max-width: 500px){
  .tituloPrincipal{
    margin-top: 120px;
  }

}


@media(max-width: 580px){
	.fundoBranco{
		height: 1800px;
	}
	.tituloPrincipal{
		margin-top: 18px;
		font-size: 20px;
	}
    }

	
@media(max-width: 900px){

	.someEm900{
		display: none;
	}
	
	.grid-container {
		grid-template-areas:			   
		  'destaque main'
		  'destaque right'
		  'footer texto';
		  height: 1000px;
	  }

	  h2{
			font-size: 25px;
	  }

	  h3{
		font-size: 20px;
  }

	  div.item3,div.item2{
		  height: 300px;
	  }


	  div.item1{
		  height: 450px;
	  }
	  
    }

	//'destaque destaque destaque main right'
	//'destaque destaque destaque footer texto';

@media(max-width: 1222px){
	header label{
	display: block;
margin-left: 120px;
	z-index: 10;
	width: 35px;
 padding: 10px 0 10px 0px;
 border-right: 0px solid black;
}


.fundoBranco{
    height: 1400px;
}


.dir{
	width: 80px;
}
	.menu{
    height: 20px;
	}

.menu ul{
	position: absolute;
	background-color: #A9E2F3;
	width: 70%;
	flex-direction: column;
	margin-left: -70%;
}

.menu li a{
	border-top:1px solid #efefef;
}

#btn-menu:checked ~ .menu ul {
	margin-left: 0;
}

header{
	height: 60px;
}

}



@media(max-width: 990px){
	.fundoBranco{
		height: 2100px;
	}
}



@media(max-width: 800px){

	
	.someEm900{
		display: inherit;
	}

}

@media(max-width: 600px){

	.tituloPrincipal{
			font-size: 20px!important;
	}

	.fundoBranco{
		height: 4500px;
	}

	h2{
		font-size: 20px;
	}

	.grid-container {
		grid-template-areas:			   
		  'destaque'
		  'main'
		  'right'
		  'footer'
		  'texto';

		  height: 2400px;
	  }

	  div.item2,div.item3,div.item4,div.item5{
		height: 370px;
	  }

	  div.item1{
		  height: 630px;
	  }
	
}


@media(max-width: 500px){

	
	h2{
		font-size: 18px;
	}


	div.item2,div.item3,div.item4,div.item5{
		height: 360px;
			  }

	  .grid-container {
		height: 2050px;
	}
}

