<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <div class="fundoBranco"></div>
<img class="dir" src="./assets/img/logoPesca.jpg" width="100%" />
<header>
  <input type="checkbox" id="btn-menu">
  <label for="btn-menu">&#9776;</label>
  <nav class="menu">
      <ul>
          <li>Inicio</li>
          <li>Noticias</li>
          <li>Galeria</li>
          <li>Guias</li>
          <li>Contatos</li>
          <li>Dicas</li>
          <li>Embarcações</li>
          <li>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Pesquisa" aria-label="Busca">
              <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Pesquisa</button>
            </form>
          </li>
          </ul>
  </nav>
</header>


<div class="container-fluid">
  
  <h1 class="tituloPrincipal" style="font-size:3vw;"><b>Exemplo de um site de notícias; aqui pode ser o título</b></h1>

  <i>Este texto pode ser um resumo da notícia que está acima, no caso a notícia principal, porém isso é apenas uma sugestão ficando a critério do cliênte a disposição dos elementos</i><hr>




  <div class="grid-container">
    <div class="item1">
      <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry </h2>
      <img src="./assets/img/pesca.jpg"  width="100%">
      <p class="txt">  
        readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
        Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        O Layout pode ser adaptado, aqui no caso estou usando o bootstrap, um...<i><b>{{today | date:'d/M/yy, h:mm a'}}</b></i></p>
    </div>
    <div class="item2">
      <h3>It is a long established fact that a reader will be</h3>
      <img src="./assets/img/sol.jpg"  width="100%">
      <p>There are many variations of passages of Lorem Ipsum available...<i><b>{{today | date:'d/M/yy, h:mm a'}}</b></i></p>      
    </div>  
    <div class="item3">
      <h3>Layout (Desenho do Site) Adaptado</h3>
      <img src="./assets/img/peixe.jpg"  width="100%">
      <p class="someEm900">There are many variations of passages of Lorem Ipsum available...<i><b>{{today | date:'d/M/yy, h:mm a'}}</b></i></p>      
        </div>
    <div class="item4">
      <h3>Layout (Desenho do Site) Adaptado</h3>
      <img src="./assets/img/pesca.jpg"  width="100%">
      <p>There are many variations of passages of Lorem Ipsum available...<i><b>{{today | date:'d/M/yy, h:mm a'}}</b></i> </p>      
        </div>
    <div class="item5">
      <h3>Layout (Desenho do Site) Adaptado</h3>
      <img src="./assets/img/sol.jpg"  width="100%">
      <p>There are many variations of passages of Lorem Ipsum available...<i><b>{{today | date:'d/M/yy, h:mm a'}}</b></i> </p>      
         </div>
  </div>

  



<br>




<div class="row">
  <div class="col-12 col-md-3 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.  natural lead-in to additional c</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>  
</div><br>

  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3 pb-2"><h3>Aqui pode ser o título da notícia</h3>
      <img src="assets/img/peixe.jpg"  width="100%">
     <p> Aqui vai um pequeno resumo da notícia......o tamanho do resumo pode ser definido...exemplo: Deixar com 3 linhas e após...<i><b>{{today | date:'d/M/yy, h:mm a'}}</b></i></p></div>
    <div class="col-12 col-sm-6 col-lg-3 pb-2"><h3>Facíl administração do conteúdo</h3>
      <img src="assets/img/sol.jpg"  width="100%">
      <p> Com um login e senha é possível adicionar, modificar ou remover notícias, se forma simples e rápida<i><b>{{today | date:'d/M/yy, h:mm a'}}</b></i></p></div>
    <div class="col-12 col-sm-6 col-lg-3 pb-2"><h3>Layout (Desenho do Site) Adaptado</h3>
      <img src="assets/img/pesca.jpg"  width="100%">
      <p>  O Layout pode ser adaptado para o gosto do cliênte, aqui no caso estou usando um Framework chamado Bootstrap, porém posso montar com CSS e 
        responsivo a gosto do cliênte<i><b>{{today | date:'d/M/yy, h:mm a'}}</b></i></p></div>
    <div class="col-12 col-sm-6 col-lg-3 pb-2"><h3>Item busca (no menu do site)</h3>
      <img src="assets/img/sol.jpg"  width="100%">
      <p>  Ao cadastrar uma notícia no site,ela será gravada no banco de dados, 
        ao clicar em buscar irá aparecer as notícias que contenham alguma palavra igual 
        a digitada na busca<i><b>{{today | date:'d/M/yy, h:mm a'}}</b></i></p></div>
  </div>



  
<br>
<div class="row">
  <div class="col-12 col-md-6 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
  
  </div>
<router-outlet></router-outlet>