<br><br><br>
<section class="flex">
  <p>Front-End Lojas E-Commerce</p>
  <div class='box-e-comerce'>
          <div class="box-sobre">
            <a href="https://www.shopginger.com.br/"  target="_blank">
          <img src="./assets/img/shopGinger.png" alt=""></a>
          <a href="https://www.shopginger.com.br/" class="btn btn-info" target="_blank">Loja: Shop Ginger</a>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalShopGinger">
            Sobre Projeto
          </button>
      </div>

      <div class="box-sobre">
        <a href="https://www.annybolsas.com.br/" target="_blank">
        <img src="./assets/img/annyBolsas.png" alt=""></a>
        <a href="https://www.annybolsas.com.br/" class="btn btn-info" target="_blank">Loja: Anny Bolsas</a>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalAnnyBolsas">
          Sobre Projeto
        </button>  
    </div>

    <div class="box-sobre">
      <a href="https://www.larmodelar.com.br/" target="_blank">
      <img src="./assets/img/larModelar.jpg" alt=""></a>
      <a href="https://www.larmodelar.com.br/" class="btn btn-info" target="_blank">Loja: Lar Modelar</a>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalLarModelar">
        Sobre Projeto
      </button>  
  </div>

  <div class="box-sobre">
    <a href="https://www.aquilabaroni.com.br" target="_blank">
    <img src="./assets/img/aquila.jpg" alt=""></a>
    <a href="https://www.aquilabaroni.com.br" class="btn btn-info" target="_blank">Loja: Aquila Baroni</a>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalAquila">
      Sobre Projeto
    </button>  
  </div>


  <div class="box-sobre">
    <a href="https://www.paiolvirtual.com.br/" target="_blank">
    <img src="./assets/img/paiol.jpg" alt=""></a>
    <a href="https://www.paiolvirtual.com.br/" class="btn btn-info" target="_blank">Loja: Paiol Virtual</a>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalPaiol">
      Sobre Projeto
    </button> 
  </div>


  <div class="box-sobre">
    <a href="https://www.bbkits.com.br/" target="_blank">
    <img src="./assets/img/bbkits.jpg" alt=""></a>
    <a href="https://www.bbkits.com.br/" class="btn btn-info" target="_blank">Loja: BBKits</a>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalBBKits">
      Sobre Projeto
    </button>
  </div>


  <div class="box-sobre">
    <a href="https://www.odontopan.com.br/" target="_blank">
    <img src="./assets/img/odontopan.jpg" alt=""></a>
    <a href="https://www.odontopan.com.br/" class="btn btn-info" target="_blank">Loja: Odontopan</a>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalOdontopan">
      Sobre Projeto
    </button>  
  </div>



  
     
  <p>Sites Back e Front (PHP, Mysql, CSS e JS)</p>
    
  <div class="box-sobre">
    <a href="https://www.jornalfolhaoeste.com.br/" target="_blank">
    <img src="./assets/img/folhaOeste.jpg" alt=""></a>
    <a href="https://www.jornalfolhaoeste.com.br/" class="btn btn-info" target="_blank">Site Noticias: Jornal Folha Oeste</a>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalFolhaOeste">
      Sobre Projeto
    </button>  
  </div>
      
  <p>Estudos / Projetos Pessoais</p>


  <div class="box-sobre">
    
 <a href="https://github.com/FernandoGreco" target="_blank">
      
      


  <svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
x="0px" y="0px" viewBox="0 0 531 552" xml:space="preserve" width="50%" class="imgProjetosGit">
<g>
<path fill-rule="evenodd" id="iconeGit" fill="black" d="M263.7,33.5c-137.4,0-248.8,111.4-248.8,248.8c0,109.9,71.3,203.2,170.2,236.1
c12.4,2.3,17-5.4,17-12c0-5.9-0.2-25.5-0.3-46.3c-69.2,15.1-83.8-29.4-83.8-29.4c-11.3-28.8-27.6-36.4-27.6-36.4
C67.7,379,92,379.3,92,379.3c25,1.8,38.1,25.6,38.1,25.6c22.2,38,58.2,27,72.4,20.7c2.2-16.1,8.7-27.1,15.8-33.3
C163.1,386,105,364.7,105,269.4c0-27.2,9.7-49.4,25.6-66.8c-2.6-6.3-11.1-31.6,2.4-65.9c0,0,20.9-6.7,68.4,25.5
c19.9-5.5,41.1-8.3,62.3-8.4c21.1,0.1,42.5,2.9,62.3,8.4c47.5-32.2,68.4-25.5,68.4-25.5c13.5,34.3,5,59.6,2.4,65.9
c16,17.4,25.6,39.6,25.6,66.8c0,95.6-58.2,116.6-113.6,122.8c8.9,7.7,16.9,22.9,16.9,46.1c0,33.3-0.3,60.1-0.3,68.3
c0,6.6,4.5,14.4,17.1,11.9c98.8-32.9,170-126.2,170-236.1C512.6,144.9,401.2,33.5,263.7,33.5z"/>
<path fill="black" d="M109.1,390.8c-0.5,1.2-2.5,1.6-4.3,0.8c-1.8-0.8-2.8-2.5-2.2-3.7c0.5-1.3,2.5-1.6,4.3-0.8
C108.7,387.8,109.8,389.6,109.1,390.8L109.1,390.8z M106.1,388.5"/>
<path fill="black" d="M119.2,402c-1.2,1.1-3.5,0.6-5.1-1.2c-1.6-1.7-1.9-4.1-0.7-5.2c1.2-1.1,3.5-0.6,5.1,1.2
C120.1,398.6,120.5,400.9,119.2,402L119.2,402z M116.9,399.5"/>
<path fill="black" d="M129,416.4c-1.5,1.1-4,0.1-5.6-2.1c-1.5-2.2-1.5-4.9,0-5.9c1.5-1.1,4-0.1,5.6,2.1
C130.6,412.6,130.6,415.3,129,416.4L129,416.4z M129,416.4"/>
<path fill="black" d="M142.5,430.2c-1.4,1.5-4.3,1.1-6.4-1c-2.2-2-2.8-4.9-1.4-6.4c1.4-1.5,4.3-1.1,6.4,1
C143.3,425.9,143.9,428.7,142.5,430.2L142.5,430.2z M142.5,430.2"/>
<path fill="black" d="M161,438.3c-0.6,1.9-3.4,2.8-6.2,2c-2.8-0.9-4.7-3.1-4.1-5.1c0.6-2,3.4-2.9,6.2-2
C159.8,434,161.6,436.3,161,438.3L161,438.3z M161,438.3"/>
<path fill="black" d="M181.4,439.7c0.1,2.1-2.3,3.8-5.3,3.8c-3,0.1-5.4-1.6-5.4-3.6c0-2.1,2.3-3.8,5.3-3.8
C179,436.1,181.4,437.7,181.4,439.7L181.4,439.7z M181.4,439.7"/>
<path fill="black" d="M200.3,436.5c0.4,2-1.7,4.1-4.6,4.6c-2.9,0.5-5.6-0.7-5.9-2.7c-0.4-2.1,1.7-4.1,4.6-4.6
C197.3,433.3,200,434.5,200.3,436.5L200.3,436.5z M200.3,436.5"/>
</g>
</svg></a>
    <a href="https://github.com/FernandoGreco" class="btn btn-info" target="_blank">GitHub</a>

  </div>

  
<div>



</div>







  

  </div>

   <!-- Modal Telas -->
   <div class="modal fade" id="modalFolhaOeste" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalFolhaOeste">Jornal Folha Oeste</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-aquila">
          <b>Loja:</b> jornalfolhaoeste.com.br <br><br>
         Neste site foi usado PHP, Mysql, CSS e JS. Não usei framework. Existe um login para usuário cadastrar, deletar notícia. No final da home existe um botão "carregar mais", neste local foi utilizada AJAX. No menu edições é apresentado as edições do jornal que são cadastradas pelo painel, ao cadastrar é criado um pasta (mkdir) pelo PHP com o número da edição. As notícas cadastradas, é salvo na tabela notícia o título, texto, endereço da imagem, e data atual. Para as url foi configurado o arquivo htaccess.
          <img src="./assets/img/folhaOeste.jpg" alt="">
          Abaixo o resultado do page speed no mobile, isso ajuda no CEO do site (favorecem a mecanismos de busca).
          <img src="./assets/img/folhaOesteSpeed.png" alt="">
          Abaixo o resultado no desktop
          <img src="./assets/img/folhaOesteSpeedDesktop.png" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Jornal Folha Oeste -->
  <div class="modal fade" id="modalFolhaOeste" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalFolhaOeste">Jornal Folha Oeste</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-aquila">
          <b>Loja:</b> jornalfolhaoeste.com.br <br><br>
          Neste projeto os principais desafios foi manipulação do DOM, na home modifiquei via JavaScript a estrutura e locais dos banners, para os slides utilizei o slick (https://kenwheeler.github.io/slick/).
          <img src="./assets/img/folhaOeste.jpg" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  
  

 <!-- Modal Lar Modelar -->
 <div class="modal fade" id="modalAnnyBolsas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAnnyBolsas">Anny Bolsas - Plataforma: JET</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-aquila">
        <b>Loja:</b> https://www.annybolsas.com.br/ <br><br>
        Neste projeto os principais desafios foi manipulação do DOM, na home modifiquei via JavaScript a estrutura e locais dos banners, para os slides utilizei o slick (https://kenwheeler.github.io/slick/).
        <img src="./assets/img/annyBolsas2.png" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

  <!-- Modal Shop Ginger -->
<div class="modal fade" id="modalShopGinger" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalShopGinger">Shop Ginger - Plataforma: JET</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-aquila">
        <b>Loja:</b> https://www.shopginger.com.br/ <br><br>
        Tive oportunidade de trabalhar neste projeto na MT Soluções, fiz a popup (com cookie para exibir a cada 15 dias), páginas institucionais e algumas partes do checkout. Neste projeto trabalhei em conjunto com outro desenvolvedor, utilizamos o github para controle de versionamento, o fluxo era: o desenvolvedor que trabalhava comigo terminava as alterações e subia num branch específico no github, eu fazia um pull deste branch para minha maquina local e depois um merge com o código que eu tinha feito. 

        <img src="./assets/img/shopGinger.png" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


<!-- Modal Lar Modelar -->
<div class="modal fade" id="modalLarModelar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lar Modelar - Plataforma: Tray</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-aquila">
        <b>Loja:</b> https://www.larmodelar.com.br/ <br><br>
        Layout feito na plataforma Tray, alguns pontos de destaque na plataforma Tray:
        Possível criar um painel personalizado para alterações do cliente.
        Todo processo de desenvolvimento é automatizado utilizando o <a href="https://github.com/tray-tecnologia/tray-cli" target="_blank">Tray CLI</a>
        com o mesmo é possível usar um ambiente de teste, ao salvar o código a loja é atualizado no navegador.

        <img src="./assets/img/larModelar.jpg" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>



<!-- Modal Aquila -->
<div class="modal fade" id="modalAquila" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAquila">Aquila Baroni - Plataforma: Nuvem Shop</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-aquila">
        <b>Loja:</b> https://www.aquilabaroni.com.br <br><br>
        Layout feito na plataforma Nuvem Shop, que usa Twig, um mecanismo para criar templates em PHP.
        Neste projeto foi criado um campo que permite o cliente fazer a edição pelo painel, foi criado
        "Ofertas Relampagos" como pode ser visto na imagem abaixo:
        <img src="./assets/img/aquila.jpg" alt="">
          Pelo painel o cliente escolhe a data que "Ofertas Relampagos" estará disponível na loja. 
          Algumas vantagens do Twig: possível utilizar condicionais no HTML, dessa forma definir o que será exibido por exemplo. Também é possível exibir um objeto no HTML, por ex.: objeto produto, no objeto produto fazer um for e exibir todas imagens. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>



<!-- Modal Paiol-->
<div class="modal fade" id="modalPaiol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Paiol - Plataforma: Loja Integrada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-aquila">
        <b>Loja:</b> <a href="https://www.paiolvirtual.com.br/" target="_blank"> https://www.paiolvirtual.com.br/ </a><br><br>
        Layout feito na plataforma Loja Integrada, por não ter acesso ao html, toda edição do Layout foi feito via Java Script manipulando o DOM.
        <img src="./assets/img/paiol.jpg" alt="">
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div></div>


  <!-- Modal BBKits-->
<div class="modal fade" id="modalBBKits" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">BBKits - Plataforma: Nuvem Shop</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-aquila">
        <b>Loja:</b> <a href="https://www.bbkits.com.br/" target="_blank"> https://www.bbkits.com.br/ </a><br><br>
        Layout feito na plataforma Nuvem Shop, algumas customizações criadas para o cliente fazer via painel, como por exemplo ter a opção de banners diferentes no deskto e mobile. 
        <img src="./assets/img/bbkits.jpg" alt="">
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div></div>


    <!-- Modal Odontopan-->
<div class="modal fade" id="modalOdontopan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Odontopan - Plataforma: Tray</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-aquila">
        <b>Loja:</b> <a href="https://www.odontopan.com.br/" target="_blank">https://www.odontopan.com.br/ </a><br><br>
        Layout feito na plataforma Tray, este Layout eu contrui uns 30% a 40%, quando eu peguei estava 80% quebrando, por ter passado por mais desenvolvedores antes foi bem desafiador, tive que ler muito código consertar e criar funcionalidade para que ficasse de acordo com o desenho do projeto.  
        <img src="./assets/img/odontopan.jpg" alt="">
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div></div>


  <!--div>
    <a routerLink="../telas">
    <img src="./assets/img/layoutNoticia.jpg" width="100%" height="100%" class="imgDestaque">
    <p>Telas</p>
  </a>
  </div>

  <div>
    <a routerLink="../svgs">
      <img src="./assets/img/mareaWhite.svg" alt="Marea 2.0 Turbo" width="100%" height="100%" class="imgDestaque">
      <p>Desenhos em SVG's</p>
    </a>  
  </div>


<div>
  <br><br>
 <a href="https://github.com/FernandoGreco" target="_blank">
      
      


      <svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
   x="0px" y="0px" viewBox="0 0 531 552" xml:space="preserve" width="50%" class="imgProjetosGit">
<g>
  <path fill-rule="evenodd" id="iconeGit" fill="black" d="M263.7,33.5c-137.4,0-248.8,111.4-248.8,248.8c0,109.9,71.3,203.2,170.2,236.1
    c12.4,2.3,17-5.4,17-12c0-5.9-0.2-25.5-0.3-46.3c-69.2,15.1-83.8-29.4-83.8-29.4c-11.3-28.8-27.6-36.4-27.6-36.4
    C67.7,379,92,379.3,92,379.3c25,1.8,38.1,25.6,38.1,25.6c22.2,38,58.2,27,72.4,20.7c2.2-16.1,8.7-27.1,15.8-33.3
    C163.1,386,105,364.7,105,269.4c0-27.2,9.7-49.4,25.6-66.8c-2.6-6.3-11.1-31.6,2.4-65.9c0,0,20.9-6.7,68.4,25.5
    c19.9-5.5,41.1-8.3,62.3-8.4c21.1,0.1,42.5,2.9,62.3,8.4c47.5-32.2,68.4-25.5,68.4-25.5c13.5,34.3,5,59.6,2.4,65.9
    c16,17.4,25.6,39.6,25.6,66.8c0,95.6-58.2,116.6-113.6,122.8c8.9,7.7,16.9,22.9,16.9,46.1c0,33.3-0.3,60.1-0.3,68.3
    c0,6.6,4.5,14.4,17.1,11.9c98.8-32.9,170-126.2,170-236.1C512.6,144.9,401.2,33.5,263.7,33.5z"/>
  <path fill="black" d="M109.1,390.8c-0.5,1.2-2.5,1.6-4.3,0.8c-1.8-0.8-2.8-2.5-2.2-3.7c0.5-1.3,2.5-1.6,4.3-0.8
    C108.7,387.8,109.8,389.6,109.1,390.8L109.1,390.8z M106.1,388.5"/>
  <path fill="black" d="M119.2,402c-1.2,1.1-3.5,0.6-5.1-1.2c-1.6-1.7-1.9-4.1-0.7-5.2c1.2-1.1,3.5-0.6,5.1,1.2
    C120.1,398.6,120.5,400.9,119.2,402L119.2,402z M116.9,399.5"/>
  <path fill="black" d="M129,416.4c-1.5,1.1-4,0.1-5.6-2.1c-1.5-2.2-1.5-4.9,0-5.9c1.5-1.1,4-0.1,5.6,2.1
    C130.6,412.6,130.6,415.3,129,416.4L129,416.4z M129,416.4"/>
  <path fill="black" d="M142.5,430.2c-1.4,1.5-4.3,1.1-6.4-1c-2.2-2-2.8-4.9-1.4-6.4c1.4-1.5,4.3-1.1,6.4,1
    C143.3,425.9,143.9,428.7,142.5,430.2L142.5,430.2z M142.5,430.2"/>
  <path fill="black" d="M161,438.3c-0.6,1.9-3.4,2.8-6.2,2c-2.8-0.9-4.7-3.1-4.1-5.1c0.6-2,3.4-2.9,6.2-2
    C159.8,434,161.6,436.3,161,438.3L161,438.3z M161,438.3"/>
  <path fill="black" d="M181.4,439.7c0.1,2.1-2.3,3.8-5.3,3.8c-3,0.1-5.4-1.6-5.4-3.6c0-2.1,2.3-3.8,5.3-3.8
    C179,436.1,181.4,437.7,181.4,439.7L181.4,439.7z M181.4,439.7"/>
  <path fill="black" d="M200.3,436.5c0.4,2-1.7,4.1-4.6,4.6c-2.9,0.5-5.6-0.7-5.9-2.7c-0.4-2.1,1.7-4.1,4.6-4.6
    C197.3,433.3,200,434.5,200.3,436.5L200.3,436.5z M200.3,436.5"/>
</g>
</svg></a>


<p>GitHub</p>
</div>



<div><br><br>
  <a routerLink="../graficos">
    <img src="./assets/img/ibovespa.jpg" width="100%" height="100%">
    <p>Gráficos</p>
  </a>
    
</div>
<div><br><br>
  <a href="https://www.jornalfolhaoeste.com.br/" target="_blank">
  <img src="./assets/img/folhaOeste.jpg" width="100%" height="100%"></a>
  <p>Jornal Folha Oeste</p>
</div>
<div><a href="https://fernandogreco.github.io/moveObjeto/" target="_blank">
  <img src="./assets/img/reflexo.jpg" width="100%" height="100%"></a>
  <p>Teste reflexo</p>
</div>
<div>
  <img src="/assets/img/edicoes.jpg" width="100%" height="100%">
  <p>Legenda</p>
</div>
<div>
  <img src="/assets/img/engDiego.jpg" width="100%" height="100%">
  <p>Gráficos</p>
</div-->
</section>


<router-outlet></router-outlet>
