<br><br><br>
<section class="flex">
  <div>
    <img src="/assets/img/folhaOeste.jpg">
    <p>Gráficos</p>
  </div>
  <div>
    <img src="/assets/img/folhaOeste.jpg">
    <p>Telas</p>
  </div>
<div>
  <img src="/assets/img/folhaOeste.jpg">
  <p>Legenda</p>
</div>
<div>
  <img src="/assets/img/folhaOeste.jpg">
  <p>Legenda</p>
</div>
<div>
  <img src="/assets/img/edicoes.jpg">
  <p>Legenda</p>
</div>
<div>
  <img src="/assets/img/folhaOeste.jpg">
  <p>Legenda</p>
</div>
<div>
  <img src="/assets/img/edicoes.jpg">
  <p>Legenda</p>
</div>
<div>
  <img src="/assets/img/engDiego.jpg">
  <p>Gráficos</p>
</div>
</section>