img{
    display: block;
    width: 100%;    
    border-top-left-radius: 25px;   
    height: 200px;
    
}

.imgDestaque{
    height: 260px;
 }

.flex{    
    display: flex;
    flex-wrap: wrap;
    max-width: 1224px;    
    margin: auto;   
    
}

.flex > div{
    flex:300px;
    margin: 10px;   
}

.flex > div:nth-child(1),
.flex > div:nth-child(2) {
    flex:500px;
    height: 250px!important;
  }

  .flex > div:nth-child(6) {
    max-width: 400px; 
  }
p{
    background-color: black;
    opacity: 0.9;
    color: #FFFF;
    padding: 5px;
    border-bottom-right-radius: 25px;
    
}

.margin{
    margin-top: 200px;
}

.imgProjetosGit{
    margin-left: 25%;
}

.flex>div:hover {
    -webkit-transition: 2s ease-in;
    -ms-transition: 2s ease-in;
    -moz-transition: 2s ease-in;
    -o-transition: 2s ease-in;
    transition: 2s ease-in; }

   .flex>div:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); }


        @media only screen and (max-width: 1100px){
            .imgDestaque{
                height: 200px;
            }
        }

      