<!DOCTYPE html>
<html lang="en">
<head>
  <title>Layout Animais</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <img src="./assets/img/manchaEzeusRed.svg" width="100%" class="dogs">
<header>
  <input type="checkbox" id="btn-menu">
  <label for="btn-menu">&#9776;</label>
  <nav class="menu">
  <ul>

  <li><a href="#">Sobre</a></li>
  <li><a href="#">Contato</a></li>
  <li><a href="#">Diversos</a></li>
  <li><a href="#">Login</a></li>
  <li><a href="#"><input type="text" id="txtBusca" placeholder="Buscar..."/></a></li>
  </ul>
  </nav>
</header>
<div class="container-fluid">
<h1>Lorem Ipsum is simply dummy text of the printing and typesetting </h1>
<h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem</h3><hr>
<div class="row">
  <div class="col-12 col-md-6 col-lg-4"><h2>Contrary to popular belief, Lorem Ipsum is not </h2>
    <img src="./assets/img/tubarao.jpg"  width="100%">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor</div>
  <div class="col-12 col-md-6 col-lg-4"> <h2>Contrary to popular belief, Lorem Ipsum is not simply </h2>
    <img src="./assets/img/guepardo.jpg"  width="100%">This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit"</div>
  <div class="col-12 col-md-6 col-lg-4"> <h2> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of </h2>
    <img src="./assets/img/lobo.jpg"  width="100%">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc</div>
  <div class="col-12 col-md-6 col-lg-4 coringa"> <h2> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of </h2><img src="/assets/img/coringa.jpg"  width="100%">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc</div>
</div>


<div class="row segundo">
  <div class="col-12 col-md-6 col-lg-3"><h2>There are many variations of passages of Lorem Ipsum available, but the majority   </h2>
 This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32..</div>
  <div class="col-12 col-md-6 col-lg-3"><h2> If you are going to use a passage of Lorem Ipsum, you need to be sure there </h2>
   It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.If you are going to use</div>
  <div class="col-12 col-md-6 col-lg-3"><h2>The generated Lorem Ipsum is therefore always free from repetition, injected </h2>
  Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</div>
  <div class="col-12 col-md-6 col-lg-3"><h2>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below </h2>
The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</div>
</div>

</div>


</body>
</html>